@model IEnumerable<DataLibrary.Models.UserDetails>

@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDetail</h2>

<p>
    @Html.ActionLink("Create New", "CreateUser",null,new {@class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile_No)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WithOTP)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Record_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WithOTP)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { id = item.Record_number }, new { @class = "btn btn-info" })

                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Record_number }, new { @class = "btn btn-info" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }

    </table>
</div>